* {
    box-sizing: border-box;
  }

  body {
    margin: 0 auto 0 auto;
    height: 100%;
    background-image: url("../images/gun_metal.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
/* Header Content */
header {
    margin-top: 0;
    position: relative;
    height: 50px;
    overflow: auto;
    background-color: #ffffff;
    border-bottom: 1px solid;
    border-color: #cccccc;
}

#myName {
    
    font-size: 24px;
    height: 50px;
    position: absolute;
    left: 20%;
    bottom: 0%;
    margin: 0 auto 0 auto;
    color: white;
    padding-top: 10px;
    text-align: center;
    width: 20%;
    background-color: #4aaaa5;
}

#about {
    margin-top: 15px;
    padding: 0px 10px;
    color: #cccccc;
    border-color: #cccccc;
    border-right: 1px solid;
    float: right;
}

#contact {
    margin-top: 15px;
    margin-right: 50px;
    padding: 0px 10px;
    color: #cccccc;
    float: right;
}

#portfolio {
    margin-top: 15px;
    padding: 0px 10px;
    color: #cccccc;
    border-color: #cccccc;
    border-right: 1px solid;
    float: right;
}

.headings {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.backgroundStyle {
    clear: both;
}

.aboutMeDimensions { 
    margin: 30px auto;
    width: 960px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}


#stickyFooter {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    background-color: #666666;
}